:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --muted-color: #272142;
  --primary-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 96px;
  color: black;
}

.hero p {
  color: var(--muted-color);
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 36px;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font);
  font-weight: 400;
  line-height: 2;
  font-size: 24px;
  color: var(--muted-color);
}

.hero .btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  padding: 15px 30px;
}

.btn-body {
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 18px;
  padding: 15px 30px;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: var(--muted-color);
}

h2 {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 64px;
}

.col-6 p {
  font-size: 16px;
  font-weight: 400;
  color: var(--muted-color);
  line-height: 30px;
}

.project-description {
  padding: 100px 60px;
}

@media (max-width: 992px) {
  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 28px;
  }

  .hero h1 {
    font-size: 60px;
  }

  .hero h2 {
    font-size: 18px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
